/* small Screnn */
.container{
    margin: 1rem;
}
.movies{
    margin: 5rem 0;
    text-align: center;
}
.movies__title{
    margin-bottom: 1rem;
    font-size: 2.44rem;
    color: #1b4965 ;
}
.movie__container{
    display: flex;
    flex-direction: column;
}
.movie{
    margin-bottom: 1rem;
}
.movie__img{
    border-radius: 25px;
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
}
.movie__title{
    color: #1b4965;
    font-size: 1.95rem;
    margin-bottom: 0.5rem;
}
.movie__date{
    color: #6c757d;
    font-size: 1.2rem;
}
/* medium Screen */
@media (min-width: 768px){
    .movie__container{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        /* align-items: center; */
    }
    .movie{
        flex-basis: 50%;
    }
}
/* Large Screen */
@media (min-width: 992px){
    .container{
        max-width: 1200px;
        margin: 3rem auto;
    }
    .movie{
        flex-basis: 25%;
        padding: 1rem;
    }
/* style button */
}
.button {
  background-color: #1b4965;
  border-radius: 10px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}